[flake8]
ignore=I100,W503
exclude=*/migrations/
per-file-ignores=*/migrations/,*/models.py:I201,lyceum/tests.py:I101,*/admin.py:I201,
max-line-length = 79
inline-quotes = double
docstring-quotes = double
avoid-escape = True