{% extends "base.html" %}

{% block content %}

<h1>Логин</h1>

{% if form.errors %}
    <ul class="errorlist">
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                    <span>*</span>
                {% endif %}
            </label>
            {{ field }}

            {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help">
                    {{ field.help_text|safe }}
                </small>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Войти</button>
</form>

<p><a href="{% url 'users:reset-password' %}">Забыли пароль?</a></p>
<p><a href="{% url 'users:signup' %}">Нет аккаунта? Регистрация</a></p>

{% endblock %}
