{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ item.name }}</h1>

    <!-- Основное изображение товара -->
    <div class="main-image">
        {% if item.main_image and item.main_image.image %}
            <img src="{{ item.main_image.image.url }}" alt="{{ item.name }}" class="img-fluid" width="300" height="300">
            <a href="{% url 'download:download_image' item.main_image.image.url|slice:'7:' %}" class="btn btn-secondary">Скачать изображение</a>
        {% else %}
            <p>{% trans "Нет основного изображения" %}</p>
        {% endif %}
    </div>

    <!-- Описание товара -->
    <p>{{ item.text|safe }}</p>

    <!-- Категория товара -->
    <p><strong>{% trans "Категория" %}:</strong> {{ item.category.name }}</p>

    <!-- Теги товара -->
    <p><strong>{% trans "Теги" %}:</strong>
        {% for tag in item.tags.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

    <!-- Дополнительные изображения товара -->
    <h3>{% trans "Дополнительные изображения" %}</h3>
    <div class="row">
        {% for gallery in item.images.all %}
            <div class="col-4 mb-3">
                <img src="{{ gallery.images.url }}" class="img-fluid" alt="Дополнительное изображение" width="300" height="300">
                <a href="{% url 'download:download_image' gallery.images.url|slice:'7:' %}" class="btn btn-secondary">Скачать изображение</a>
            </div>
        {% empty %}
            <p>{% trans "Нет дополнительных изображений" %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
